<template>
  <q-layout view="lHh LpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg" />
          </q-avatar>
          Quasar table app
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" side="left" bordered>
      <div class="q-pa-sm">
        <p class="">From Date</p>

        <div class="q-pa-md" style="max-width: 300px">
          <q-input filled v-model="payload.request.fromDate">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="payload.request.fromDate"
                    minimal
                    mask="MM/DD/YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>

        <p>To Date</p>

        <div class="q-pa-md" style="max-width: 300px">
          <q-input filled v-model="payload.request.toDate">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="payload.request.toDate"
                    minimal
                    mask="MM/DD/YYYY"
                    navigation-min-year-month="2021/07"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>

        <p>Bill Number</p>
        <q-input outlined v-model="inputBill" />
        <div class="flex">
          <q-btn @click="searchBill" class="q-my-sm full-width" color="primary" label="Search" push />
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <q-page class="content-table">
        <table class="table-data" v-if="dataRes.length > 0">
          <tr>
            <th
              class="table-head"
              v-for="(items, key) in dataRes[0]"
              :key="key"
            >
              {{ key.toString().replace(/-/g, " ") }}
            </th>
          </tr>
          <tr v-for="(items, key) in filteredData" :key="key">
            <td>{{ items["trans-date"] }}</td>
            <td>{{ items.department }}</td>
            <td>{{ items["waiter-name"] }}</td>
            <td>{{ items["table-no"] }}</td>
            <td>{{ items["bill-no"] }}</td>
            <td>{{ items["guest-name"] }}</td>
            <td>{{ items.pax }}</td>
            <td>Rp. {{ items["total-amount"] }}</td>
          </tr>
        </table>
        <div class="flex flex-center" v-else>
          <h5>Data is empty.</h5>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  components: {},

  data() {
    return {
      dataRes: [],
	  activeFilter: [],
      inputBill: "",
      filterBill: "",
      payload: {
        request: {
          fromDate: "",
          toDate: "",
        },
      },
    };
  },

  setup() {
    const leftDrawerOpen = ref(true);

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      drawerLeft: ref(false),
    };
  },

  computed: {
    fromDateChange() {
      return this.payload.request.fromDate;
    },
    toDateChange() {
      return this.payload.request.toDate;
    },
	filteredData() {
	  let filtered = this.dataRes;
	  let tempBill = this.filterBill;

	  if (tempBill != '' && tempBill) {
        filtered = filtered.filter((item) => {
			return item['bill-no'].toString().indexOf(tempBill) > -1
		})
      }
      return filtered;
    }
  },

  methods: {
    async getData() {
      const res = await fetch(
        "http://ws1.e1-vhp.com:8080/VHPWebBased1/rest/Common/testWebdev",
        {
          method: "POST",
          mode: "cors",
          cache: "default",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(this.payload),
        }
      );
      const data = await res.json();
      this.dataRes = [];
      this.dataRes = data.response.outletTransaction["outlet-transaction"];
    },
	searchBill(){
		let tempBill = this.inputBill;

		this.filterBill = tempBill;
		this.inputBill = "";
	}
  },

  watch: {
    fromDateChange(newVal, oldVal) {
      if (newVal) {
        this.getData();
      }
    },
    toDateChange(newVal, oldVal) {
      if (newVal) {
        this.getData();
      }
    }
  },
});
</script>

<style scoped>
.content-table {
  overflow-y: auto;
  max-height: 100%;
}
.table-data th,
.table-data td {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
}
.table-head {
  font-weight: normal;
  background: #1976d2;
  color: white;
}
.table-head::first-letter {
  text-transform: capitalize;
}
</style>
